.about-point{
    text-align: left;
    padding: 20px;
    list-style: none;
    font-weight: 500;
    font-size: 20px;
    padding-top: 20px;
    background-color:rgb(198, 221, 198);

}
.about-school{
    background-color: rgb(80, 165, 161);
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding: 10px;
}
.space{
    background-color: rgb(166, 197, 166);
    text-align: left;
    padding:20px;
}
.accordion{
    background-color: rgb(178, 238, 178);
}
/* -------------------------------------link//
---------------------------------------------------------- */
.important-link{
    background-color: rgb(96, 103, 112);
    padding: 20px;
    text-align: left;
    padding-bottom: 50px;

}
.important-link> a{
    text-align: left;
    display: block;
    text-decoration: none;
    color:white;

}
