.teacher-card{
    
    background-color: rgb(214, 178, 178);
    height: 300px;
    align-items: center;
   
}
.image-style{
    margin-top: 10px;
    height:150px;
    width: 150px;
    border-radius: 10px;
}
